/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding-bottom: 40px;
  background-color: rgba(0,0,0, .05);

}

.buttonDiv button.MuiButtonBase-root {
  margin-bottom: 0px;
}
